SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[TARD_CNLE_ATRO_TBLA_CNLT](
	[ID_CNLE_ATRO_TBLA_CNLT] [int] IDENTITY(1,1) NOT NULL,
	[NO_BNCO_DADO] [varchar](50) COLLATE SQL_Latin1_General_CP850_CI_AI NULL,
	[NO_TBLA] [varchar](124) COLLATE SQL_Latin1_General_CP850_CI_AI NULL,
	[DT_CRAO_TBLA] [datetime] NULL,
	[DT_ATRO_TBLA] [datetime] NULL,
	[DT_ATRO_CNLE_ATRO] [datetime] NULL
) ON [PRIMARY]

GO
