SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[TARD_CNLE_ATRO_TBLA](
	[ID_CNLE_ATRO_TBLA] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NO_BNCO_DADO_TBLA_ALDO] [varchar](50) COLLATE SQL_Latin1_General_CP850_CI_AI NOT NULL,
	[ID_BNCO_DADO_TBLA_ALDO] [int] NOT NULL,
	[ID_TBLA_ALDO] [int] NOT NULL,
	[NO_TBLA_ALDO] [varchar](100) COLLATE SQL_Latin1_General_CP850_CI_AI NOT NULL,
	[DT_ATRO_TBLA] [datetime] NOT NULL,
	[NO_ATRO_TBLA] [varchar](50) COLLATE SQL_Latin1_General_CP850_CI_AI NULL
) ON [PRIMARY]

GO
