SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[TABLE_1](
	[TB1_ID] [int] IDENTITY(1,1) NOT NULL,
	[TB1_DS] [varchar](100) COLLATE SQL_Latin1_General_CP850_CI_AI NULL
) ON [PRIMARY]

GO
