SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[LogRecompileAbnormalProcs](
	[RECLOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[RECLOG_OBJ_NAME] [varchar](255) COLLATE SQL_Latin1_General_CP850_CI_AI NULL,
	[RECLOG_INC_FACTOR] [numeric](10, 2) NULL,
	[RECLOG_INC_FACTOR_THRES] [numeric](10, 2) NULL,
	[RECLOG_DT] [datetime] NULL
) ON [PRIMARY]

GO
