SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER OFF

/*
**	This procedure returns the version number of the stored
**    procedures used by the the Microsoft Visual Database Tools.
**	Version is 7.0.05.
*/
create procedure dbo.dt_verstamp007
as
	select 7005


GO
