SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[TCRI_CART_INCA_MVTO_HSCO](
	[CG_CART_INCA_MVTO_HSCO] [int] IDENTITY(1,1) NOT NULL,
	[CG_CART_INCA_MVTO_INCE] [int] NULL,
	[CG_OPRL_INCE] [bigint] NULL,
	[CG_CNTO_CART_360] [int] NULL,
	[VL_TTAL_PRLA_CART_360] [decimal](18, 2) NULL,
	[IN_EPTO_MVTO_HSCO] [char](1) COLLATE SQL_Latin1_General_CP850_CI_AI NULL,
	[DT_CDRO_MVTO_HSCO] [datetime] NOT NULL,
	[COD_PRODUTO] [int] NULL,
	[COD_USUARIO] [int] NOT NULL
) ON [PRIMARY]

GO
