SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[TCRI_CART_INCA_MVTO_INCE](
	[CG_CART_INCA_MVTO_INCE] [int] IDENTITY(1,1) NOT NULL,
	[NU_CPF_CLTE_CART_360] [decimal](11, 0) NOT NULL,
	[CG_CLTE_CART_360] [int] NOT NULL,
	[CG_FLAL_CART_360] [int] NULL,
	[CG_FAXA_INCA] [int] NULL,
	[DT_ERDA_CART] [datetime] NOT NULL,
	[DT_SADA_CART] [datetime] NULL,
	[DT_CRAO_MVTO_INCE] [datetime] NULL,
	[COD_EMPRESA] [int] NULL,
	[COD_USUARIO] [int] NULL
) ON [PRIMARY]

GO
