SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[TB_ACCRUAL_PARCELA_BKP](
	[COD_ADESAO] [int] NOT NULL,
	[NUM_PARCELA] [int] NOT NULL,
	[VAL_ACUM_JUROS] [money] NOT NULL,
	[VAL_ACUM_JUROS_ATRASO] [money] NOT NULL,
	[VAL_PRESENTE] [money] NOT NULL,
	[VAL_JUROS_PARCELA] [money] NOT NULL,
	[VAL_ACUM_MULTA_ATRASO] [money] NOT NULL,
	[VAL_ACUM_MULTA_ATRASO_60] [money] NOT NULL,
	[VAL_ACUM_JUROS_60] [money] NOT NULL
) ON [PRIMARY]

GO
