SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[tb_log_tipo_registro](
	[cod_tipo_registro] [int] NOT NULL,
	[txt_descricao] [varchar](127) COLLATE SQL_Latin1_General_CP850_CI_AI NOT NULL
) ON [PRIMARY]

GO
