SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[tb_cobch_motivo_devolucao](
	[cod_motivo_devolucao] [decimal](5, 0) NOT NULL,
	[desc_motivo_devolucao] [varchar](50) COLLATE SQL_Latin1_General_CP850_CI_AI NULL
) ON [PRIMARY]

GO
